body {
    background-color: rgb(49, 53, 54);
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navul li:hover {
    transform: scale(1.1);
    text-decoration: underline;
    transition: transform 0.3s ease;
}

nav {
    border-bottom: 2px rgba(78, 212, 212, 0.532) solid;
}

.navul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: rgb(78, 212, 212);
}

h1 {
    text-align: center;
    color: rgb(78, 123, 213);
}

.ruta {
    justify-content: center;
    color: rgb(78, 212, 212);
    border: 3px solid;
    border-radius: 50px;
    width: 500px;
    max-width: 90%;
    margin: 50px auto 0;
    background-image: url(bilder/vattenbakgrund.jpg);
}

.bildruta {
    color: rgb(78, 123, 213);
    text-align: center;
}

nav ul a {
    color: rgb(78, 212, 213);
    font-weight: bold;
    border-color: black;
    text-decoration: none;
}

.om-mig {
    color: rgb(78, 123, 213);
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding-right: 50px;
}

.intressen {
    margin: auto;
    color: rgb(78, 123, 213);
    max-width: 400px;
    word-wrap: break-word;
}

.om-mig img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.bilder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    max-width: 70%;
    margin: auto;
}

.bilder img {
    width: 200px;
    height: 250px;
    border-radius: 100px;
    transition: transform 0.3s ease;
}

.bilder img:hover {
    transform:scale(1.2);
}